<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="description" content="blog posts.">
  <meta property="og:url" content="https://enpostry.netlify.app">
  <meta property="og:title" content="Enpostry | blog posts.">
  <meta name="og:type" content="website">
  <meta name="msapplication-starturl" content="https://enpostry.netlify.app">
  <meta name="robots" content="index">
  <link rel="icon" type="image/x-icon" href="{{ logo }}">
  <link rel="icon" type="image/png" href="{{ logo }}">
  <link rel="mask-icon" color="black" href="{{ logo }}">
  <link rel="apple-touch-icon" href="{{ logo }}">
  <meta http-equiv="X-UA-Compatible" content="IE=7">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffbdbd" />
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#b882ff" />
  <script src="https://kit.fontawesome.com/1538dfe099.js" crossorigin="anonymous"></script>
  <title>{{ title }}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Source+Sans+Pro:wght@400;600&display=swap">
  <link rel="preconnect" href="https://ajax.googleapis.com">
  <link rel="preload" as="style" href="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js">
  <link rel="preconnect" href="https://kit.fontawesome.com">
  <link rel="preload" as="style" href="https://kit.fontawesome.com/1538dfe099.js">
    <link rel="stylesheet" href="/style.css">
    <script src="script.js"></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5885950581818992"
     crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
  $(".toggle").click(function(){
    $(".nav-items").toggle();
  });
});
</script>
</head>
<body>
{% include 'navbar.njk' %}
{{ content | safe }}
{% include 'footer.njk' %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PXS7Y52P2D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PXS7Y52P2D');
</script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
</html>
