<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5885950581818992"
     crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <script src="script.js"></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="https://kit.fontawesome.com/1538dfe099.js" crossorigin="anonymous"></script>
    <title>{{ title }}</title>
</head>
<body>
{% include 'navbar.njk' %}
{{ content | safe }}
{% include 'footer.njk' %}
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
</html>