    <footer class="about-page">
    <h6>2023 copyright to tricticle</h6>
        <span><a href="https://enpostry.netlify.app/about/privacy policy.htm">privacy policy</a></span>
        <span><a href="https://enpostry.netlify.app/about/about us.htm">about us</a></span>
    </footer>