<section class="nav-bar">
    <section class="logo">tricticle.</section>
    <btn class="toggle"><i class="fa-solid fa-bars"></i></btn>
        <nav>
            <ul class="nav-items">     
               <a href="/"><li class="home"><i class="fa-solid fa-house"></i>home</li></a>
				<a href="/about/about us.htm"><li class="about-us"><i class="fa-solid fa-code"></i>about us</li></a>
				<a href="/about/privacy policy.htm"><li class="privacy-policy"><i class="fa-solid fa-key"></i>privacy policy</li></a>
            </ul>
        </nav>
</section>
