<div class="nav-bar">
    <div class="logo">Enpostry.</div>
        <nav>
            <ul class="menu-items">
                <li class="home">
                    <a href="/">home</a>
                </li>
                <li class="privacy-policy">
                    <a href="/about/privacy policy.htm">privacy policy</a>
                </li>
                <li class="about-us">
                    <a href="/about/about us.htm">about us</a>
                </li>
            </ul>
        </nav>
</div>
