<div class="nav-bar">
    <div class="logo">Enpostry.</div>
        <nav>
            <ul class="menu-items">
                <li class="home">
                    <a href="/">home</a>
                </li>
{% for blog in collections.blogs %}
                <li class="popular">
                    <a href="{{ blog.url }}">popular</a>
{% endfor %}
                </li>
                <li class="about-us">
                    <a href="/about/about us.htm">about us</a>
                </li>
            </ul>
        </nav>
</div>
