---
title: tricticle | blog posts.
logo: assets/logo.png
layout: 'base.njk'
---


{% for blog in collections.blogs %}
<div class="container">
        <a href="{{ blog.url }}">
        <section class="card">
            <img src="{{blog.data.image}}" alt="{{blog.data.imageAlt}}">
            <div class="card-info">
                <h2>{{blog.data.title}}</h2>
                <p>{{blog.data.description}}</p>
                <p>Posted by <span class="username"> <a href="https://zaap.bio/tricticle"> {{blog.data.username}} </a> </span></p>
            </div>
        </section>
        </a>
    </div>
    {% endfor %}
