@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Source+Sans+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Source+Sans+Pro:wght@400;600&display=swap');
:root{
 --delay:0.5s ease;
 --purple:#9865ff;
 --text-color:#393939;
}
*{
    margin: 0;
    padding: 0;
    color: dark light;
}
body{
    max-height: 100svh;
    min-width: 100%;
}

/*navbar design*/


.nav-bar{
    padding-bottom: 5px;
    max-height: 40px;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid black;
}
.nav-bar .logo{
    padding-left: 20px;
    min-height: 30px;
    min-width: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    text-transform:unset;
    font-size: clamp(15px,1.5vw,2rem);
    color: var(--text-color);
}
.nav-bar .menu-items{
    padding-right: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.menu-items a{
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: clamp(10px,3.5vw,3px);
    color: var(--text-color);
    transition: var(--delay);
    font-family: 'Poppins', sans-serif;
}
.menu-items a:hover{
    border-radius: 3px;
    font-size: clamp(7px,3.5vw,3px);
    letter-spacing: 3px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.313)  0px 3px 3px;
    transition: var(--delay);
    color: var(--purple);
    font-family: 'Source Sans Pro', sans-serif;
}



/*content design*/

.container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container a{
    text-decoration: none;
    color:var(--text-color);
}

.card {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card-info {
    margin-top: 20px;
    text-align: center;
}

.card-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-info p {
    font-size: 16px;
    line-height: 1.5;
    color:var(--text-color);
    margin-bottom: 10px;
}

.username {
    font-weight: bold;
}
.username a{
    text-decoration: none;
}


/*mobile design*/

@media screen and (max-width:700px){

}



/* content*/



.article-content{
    font-family: 'Poppins', sans-serif;
    padding: 25px;
    letter-spacing: 1px;
    font-weight: 10;
}


/* bottom*/
.about-page{
    right: 0;
    bottom: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
.about-page a{
    padding: 20px;
    text-decoration: none;
    font-size: clamp(10px,3.5vw,3px);
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
}