@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Source+Sans+Pro:wght@400;600&display=swap');
@font-face {
    font-family: 'tricticle';
    src: url(Product\ Sans\ Bold.ttf);
}

:root{
 --delay:0.5s ease;
 --purple:#000000;
 --text-color:#9ed7ff;
 --anicolor:#ffffff;
 padding-top: 50px;
}
@keyframes move{  
    0% {
      background-position: 36% 42%;
      background-size: 200%;
    }
    
    20% {
      background-position: 30% 35%;
      background-size: 300%;
    }
    
    20.0001% { /* -- View 2 -- */
      background-position: 60% 85%;
      background-size: 400%;
    }
    
    40% {
      background-position: 49% 81%;
      background-size: 350%;
    }
    
    40.0001% { /* -- View 3 -- */
      background-position: 80% 42%;
      background-size: 300%;
    }
    
    60% {
      background-position: 84% 33%;
      background-size: 250%;
    }
    
    60.0001% { /* -- View 4 -- */
      background-position: 0% 0%;
      background-size: 300%;
    }
    
    80% {
      background-position: 15% 4%;
      background-size: 350%;
    }
    
    80.0001% { /* -- View 5 -- */
      background-position: 80% 10%;
      background-size: 400%;
    }
    
    100% {
      background-position: 72% 14%;
      background-size: 300%;
    }
  }
*{
    margin: 0;
    padding: 0;
    color: dark light;
}
body{
    max-height: 100svh;
    min-width: 100%;
}
body::-webkit-scrollbar{
    display: none;
}


/*navbar design*/

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(70px);
    border-radius:7px;
  }
.nav-bar{
    background-image: url(assets/move.jpg);
    display: flex;
    border-radius: 7px;
    margin: 7px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    animation: move 30s infinite;
}
.logo{
    position: relative;
    display: inline-block;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(15px,3.5vw,1rem);
    color: var(--anicolor);
    font-weight: 700;
    inset: 0;
    letter-spacing: 1px;
}

.nav-items{
    padding: 10px;
    display: flex;
    justify-items: center;
}
.nav-items a{
    text-decoration: none;
    color: var(--anicolor);
    font-size: clamp(9px,2.5vw,3px);
}
.nav-items a:hover{
    border-radius: 3px;
    font-size: clamp(7px,3.5vw,3px);
    transition: var(--delay);
    color: var(--purple);
    font-family: 'tricticle', sans-serif;
}

.nav-items li i{
    font-size: 7px;
}
.nav-items li:hover{
    font-size: clamp(10px,2.5vw,3px);
    transition: var(--delay);
    letter-spacing: 3px;
}
.nav-items li{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    flex-wrap: nowrap;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    transition: var(--delay);
    text-transform: uppercase;
}

/*content design*/


.container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container a{
    text-decoration: none;
    color:var(--text-color);
}

.card {
    background: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(50px);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card-info {
    margin-top: 20px;
    text-align: center;
}

.card-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-info p {
    font-size: 16px;
    line-height: 1.5;
    color:var(--text-color);
    margin-bottom: 10px;
}

.username {
    font-weight: bold;
}
.username a{
    text-decoration: none;
}


/*mobile design*/

@media screen and (max-width:700px){
    .nav-bar{
        display: grid;
        justify-items: center;
        padding: 7px;
        border-radius: 7px;
        margin: 5px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        justify-content: center;
    }
    .logo{
        display: block;
        padding: 2px;
        font-family: 'Poppins', sans-serif;
        font-size: clamp(15px,3.5vw,3rem);
        color: var(--anicolor);
    }
    .nav-bar nav{
        display: grid;
        justify-items: center;
        align-content: center;
    }
    .nav-items{
        display: none;
        justify-items: center;
    }
    .nav-items a{
        color: var(--anicolor);
        font-size: clamp(9px,2.5vw,3px);
    }
    .nav-items a:hover{
        font-size: clamp(7px,3.5vw,3px);
        transition: var(--delay);
        color: var(--purple);
        font-family: 'Source Sans Pro', sans-serif;
    }
    
    .nav-items li i{
        font-size: 7px;
    }
    .nav-items li:hover{
        font-size: clamp(10px,2.5vw,3px);
        transition: var(--delay);
        letter-spacing: 3px;
    }
    .nav-items li{
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: space-around;
        flex-wrap: nowrap;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1px;
        transition: var(--delay);
        text-transform: uppercase;
    }
}



/* content*/



.article-content{
    font-family: 'tricticle', Poppins;
    padding: 25px;
    letter-spacing: 1px;
    font-weight: 10;
    color: var(--purple);
}
.card-2 {
    background: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(50px);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.card-2 img {
    max-width: 100%;
    border-radius: 5px;
}
code{
    display: flex;
    overflow: auto;
    max-width: 100%;
    background-color: var(--purple);
    color: var(--text-color);
    padding: 10px;
    border-radius: 7px;
}


.about-page{
  right: 0;
  bottom: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  color: var(--text-color);
}
.about-page p{
  font-size: 10px;
  text-decoration: none;
  padding: 7px;
}
.about-page p a{
  text-decoration: none;
}
.about-page p a:hover{
  text-decoration: underline;
  transition: var(--tran);
}